<div class="body-main">
    <div class="body-container" style="background-color: white; padding-top: 0px;">
        <div class="album-photo" style="background-image: url(../images/metla_8.jpg)">
        </div>
        <span class="album-title" *ngIf="album">
            {{ album.name }}
        </span>
        <span class="album-info">
            INFO
        </span>

        <section class="album-singles">
            <figure>
                <span>
                    <a href="http://localhost:3000/music?id=test.mp3">A</a>
                </span>
                <strong>
                    Wake and Landy
                </strong>
            </figure>
            <figure>
                <span>
                    <a href="#"></a>
                </span>
                <strong>
                    Crush my history
                </strong>
            </figure>
            <figure>
                <span>
                    <a href="#"></a>
                </span>
                <strong>
                    Holly Shittevo
                </strong>
            </figure>
        </section>
    </div>
</div>
