<div class="footer">
    <div class="footers sec-1">
        <div class="logo">
            <h1>AO</h1>
            <p>Album Ocean - The platform of sharing your favorite inspiration of your soul with others.</p>
            <br/>
            <p>&copy; 2017 - AlbumOcean.com</p>
        </div>
    </div>
    <div class="footers sec-2">
        <div class="related-photos">
            <h1>Instagram</h1>
            <div class="photos">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <div class="footers sec-3">
        <div class="foot-contact">
            <h1>Contact</h1>
            <div class="contact-field">

            </div>
        </div>
    </div>
</div>