<div class="navbar" id="navbar">
    <div class="navbar-container">
        <span><a href="#" [routerLink]="['']">AlbumOcean</a></span>
        <strong><a href="#">Login</a></strong>
    </div>
</div>

<div class="header" id="header">
    <div class="header-pic" id="header-pic"></div>
    <div class="title" id="title">
        <h1>Find and upload your ideas <br> by music</h1>
    </div>
</div>

<!--<div class="body">-->
    <!--<div class="stretchbar" id="stretchbar">-->
        <!--<div class="stretchbar-navigation">-->
            <!--<a href="#"><img src="../images/icons/tape2.svg" alt="">Tape</a>-->
            <!--<a href="#"><img src="../images/icons/star.svg" alt="">Popular</a>-->
            <!--<a href="#"><img src="../images/icons/folder-1.svg" alt="">Create Album</a>-->
            <!--<a href="#"><img src="../images/icons/up-arrow-3.svg" alt="">Upload</a>-->
        <!--</div>-->
    <!--</div>-->