<div class="stretchbar" id="stretchbar">
    <div class="stretchbar-navigation">
        <a href="#" [routerLink]="['']"><img src="../images/icons/tape2.svg" alt="">Tape</a>
        <a href="#" [routerLink]="['']"><img src="../images/icons/star.svg" alt="">Popular</a>
        <a href="#" [routerLink]="['createalbum']"><img src="../images/icons/folder-1.svg" alt="">Create Album</a>
        <a href="#" [routerLink]="['']"><img src="../images/icons/up-arrow-3.svg" alt="">Upload</a>
    </div>
</div>